<h3 class="title-create">Edit: Log</h3>
<div class="content-wrap container-fluid text-left box-wrapper">

  <ul class="row">
    <li class="col-3">Date: {{info?.date}} </li>
    <li class="col-3">Time: {{info?.time}} </li>
    <li class="col-3">By: {{info?.by}}</li>
  </ul>

  <div class="row card">
    <div class="col-lg-4 col-xl-3 col-md-6 form-group">
        <label for="investorName">Name</label>
        <input type="text" class="form-control" id="investorName" aria-describedby="investor Name" />
    </div>
  </div>
</div>
