<h3 class="title-create m-3">Edit: Log</h3>
<div class="content-wrap container-fluid text-left box-wrapper">

  <div class="card p-3">
    <ul class="row list-unstyled">
      <li class="col-3"><strong>Date:</strong> {{info?.date}} </li>
      <li class="col-3"><strong>Time:</strong> {{info?.time}} </li>
      <li class="col-3"><strong>By:</strong> {{info?.by}}</li>
    </ul>
    <hr>

    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6 form-group mb-3">
          <label for="investor-name">Name</label>
          <input type="text" class="form-control" id="investor-name" aria-describedby="investor Name" />
      </div>

      <div class="col-lg-4 col-xl-3 col-md-6 form-group mb-3">
        <label for="investor-type">Type</label>
        <select name="investor-type" id="type" class="form-control"  aria-describedby="investor Type">
          <option *ngFor="let investor of investorList" [value]="investor.key">{{investor.value}}</option>
        </select>
      </div>

      <div class="col-lg-4 col-xl-3 col-md-6 form-group mb-3">
        <label for="investor-type">Customer</label>
        <select name="investor-type" id="customer" class="form-control" aria-describedby="Customer">
          <option *ngFor="let customer of customerList" [value]="customer.key">{{customer.value}}</option>
        </select>
      </div>

      <div class="col-lg-4 col-xl-3 col-md-6 form-group mb-3">
        <label for="investor-type">Investiment</label>
        <select name="investor-type" id="customer" class="form-control" aria-describedby="Customer">
          <option *ngFor="let investiment of ivenstimentList" [value]="investiment.key">{{investiment.value}}</option>
        </select>
      </div>

    </div>

    <div class="mb-3">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" aria-describedby="Description" rows="4"
            cols="50"></textarea>
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg ">
        SAVE LOG
      </button>
    </div>


  </div>
</div>
